<div >
    <mat-card>
        <h1>Login</h1>
        <form>

            <mat-form-field >
                <input type="text" matInput placeholder="Username" [formControl]="UserNameControl">
                <mat-error *ngIf="UserNameControl.invalid">{{getErrorMessage_Username()}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input type="password" matInput placeholder="Password"  [formControl]="PasswordControl">
                <mat-error *ngIf="PasswordControl.invalid">{{getErrorMessage_Password()}}</mat-error>
            </mat-form-field>

            
        </form>
        <button (click)="login()">Login</button>
    </mat-card>
</div>