<div class="container">
    <h1>Booked Listings</h1>
    
    <div>
    </div>
    <div *ngIf="listings; else showMessage">
    </div>
    <div *ngFor="let listing of listings" >
      <mat-card class="example-card" style="margin: 10px; background-color:rgba(245, 247, 250, 0.993);color: rgb(74, 43, 248);">
        <mat-card-subtitle> {{ listing.listing_title }}</mat-card-subtitle>
        <mat-card-title>{{ listing.listing_title }}</mat-card-title>
        <mat-card-content>
          <p>{{ listing.description }}</p>
          <p>Date : {{ listing.booking_date }}</p>
          <p>Booking Start Date : {{ listing.booking_start }}</p>
          <p>Booking End Date : {{ listing.booking_end }}</p>
          <p>Listing Id : {{ listing.listing_id }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <ng-template #showMessage>
      <h2>Please Log in to an account to view booking</h2>
    </ng-template>
    </div>
    